#phone button {
  height: 40px;
  width: 75px;
}
#phone button span  {
  display: block;
  margin-top: 5px;
  font-size: 10px;
}
#result{
  width: 225px;
  height: 30px;
  margin-left:1px;
}

#phone{
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
}